<div class="language">
    <button  mat-button *ngIf="currentLang == 'ru'" (click)="useLanguage('ua')">УКР</button>
    <button  mat-button *ngIf="currentLang == 'ua'" (click)="useLanguage('ru')">РУС</button>
</div>
<div class="menu">
        <mat-grid-list cols="6" rowHeight="70px">
            <a style="font-family: 'Oswald', sans-serif; font-weight: bold; font-size: 48px;" routerLink="/about">
              <mat-grid-tile>КРП</mat-grid-tile>
            </a>
            <a routerLink="/"routerLinkActive="active"
               [routerLinkActiveOptions]="{exact:true}">
                <mat-grid-tile>ГЛАВНАЯ</mat-grid-tile>
            </a>
            <a routerLink="/about" routerLinkActive="active">
                <mat-grid-tile>О КОМПАНИИ</mat-grid-tile>
            </a>
            <a href="" target="_blank">
               <mat-grid-tile>МАГАЗИН</mat-grid-tile>
            </a>
            <a routerLink="/priceList" routerLinkActive="active">
                <mat-grid-tile>ДОСТАВКА</mat-grid-tile>
            </a>
            <a routerLink="/contacts" routerLinkActive="active">
                <mat-grid-tile >КОНТАКТЫ</mat-grid-tile>
            </a>
        </mat-grid-list>
</div>
<div class="mobMenu">
<button mat-button style="font-size: 30px;" [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></button>
  <a style="text-transform: uppercase; padding: 0;
         font-size: 32px;;font-family: 'Oswald', sans-serif; font-weight: bold;text-decoration: underline;" routerLink="/about">КРП</a>
<mat-menu #menu="matMenu">
  <button mat-menu-item><a routerLink="/home" routerLinkActive="active"
                           [routerLinkActiveOptions]="{exact:true}">ГЛАВНАЯ</a></button>
  <button mat-menu-item><a routerLink="/about" routerLinkActive="active">О КОМПАНИИ</a></button>
  <button mat-menu-item><a href="" target="_blank">МАГАЗИН</a></button>
  <button mat-menu-item><a routerLink="/priceList" routerLinkActive="active">ДОСТАВКА</a></button>
  <button mat-menu-item><a routerLink="/contacts" routerLinkActive="active">КОНТАКТЫ</a></button>
  <button mat-menu-item *ngIf="currentLang == 'ru'" (click)="useLanguage('ua')"style="background-color: #0C57FB;color: white;"><mat-icon style="color: white;">language</mat-icon>УКР</button>
  <button mat-menu-item *ngIf="currentLang == 'ua'" (click)="useLanguage('ru')"style="background-color: #0C57FB;color: white;"><mat-icon style="color: white;">language</mat-icon>РУС</button>
</mat-menu>

</div>
