<div class="nameCompany">
</div>
<div class="menu">
        <mat-grid-list cols="4" rowHeight="50px">
            <a routerLink="/home">
                <mat-grid-tile>ГЛАВНАЯ</mat-grid-tile>
            </a>
            <a routerLink="/about">
                <mat-grid-tile>О КОМПАНИИ</mat-grid-tile>
            </a>
            <a routerLink="/priceList">
                <mat-grid-tile>ПРОДУКЦИЯ</mat-grid-tile>
            </a>
            <a routerLink="/contacts">
                <mat-grid-tile >КОНТАКТЫ</mat-grid-tile>
            </a>
        </mat-grid-list>
</div>

