<div class="title">О нас</div>
<div class="text" style="font-size: large;">
    <p class="tit">Компания ТОВ "Кривбасподшипник" выражает Вам свое уважение и приглашает к сотрудничеству на взаимовыгодных условиях!</p>
    <p class="pText">Наша компания работает на рынке подшипниковой продукции с февраля 2009 года на базе предприятия "Алтини"
        основанного в 2005 году. С целью дальнейшего развития и лучшего обеспечения предприятий подшипниковой продукцией мирового уровня, наша компания в августе 2017 года стала официальным дилером
        сертифицированной в Украине торговой марки HGF Bearings которая зарекомендовала себя, как одна из лучших с высоким потребительским спросом на рынке Украины. ООО Шаньдун Хуагонг Подшипники было создано в августе 2008 года,
        и предоставляет собой комплексное предприятие по исследованию, разработке, производстве, продаже прецизионных подшипников.
        Для повышения конкурентоспособности продукции компании, в производстве всей продукции HGF Bearings применили технологии закалки на бейнит,
        что в корне повысило качество продукции и обеспечило поставки клиентам подшипники с более высокой конкурентоспособностью.
        Мы являемся полномочными представителями: ТОВ "Крафт Беарингс", продукция торговой марки CRAFT (производитель Литва). Также мы поставляем продукцию таких брендов как,
        СПЗ-ГРУПП, ЕПК(ГПЗ-1, ГПЗ-2, 16ГПЗ, SPZ), МПЗ, РОЛТОН, VBF, ХАРП, СВПЗ, и многих других, в том числе и иностранных производителей.<br>
        Вся поставляемая нами продукция высокого качества, что подтверждается паспортами и сертификатами национального и мирового уровня.</p>
  <div style=" font-size: 36px;font-family: 'Oswald', sans-serif;
  color: #0C57FB; margin:  0 ">Наши клиенты</div>
    <p class="pText">Нашими основными потребителями в данный момент являются металлургические и машиностроительные предприятия
        (ВАТ МК "Запорожсталь", ВАТ МК "Днепрспецсталь", холдинг ЭВРАЗ УКРАИНА, ЧАТ "Сухая балка",
        ТОВ "Интерпайп Украины", ЗАТ "НКМЗ", предприятия горно-рудного дивизиона
        "Метинвестхолдинг" и другие), предприятия горного-, нефтяного-, газодобывающей  отрасли
        (ВАТ "Укрнефть", ГП "УкрНефтьГазКомплет", ГП "Вольногорский ГМК, и другие), а также цементные заводы(ВАТ" Иванофранковскцемент") и ряд карьеров
        (ВАТ "Игнатпольский карьер", Пасичнянский карьер, "НЕРУДНЫК", ПАТ "Староконстантиновский спецкарьер",
        "Транснациональная корпорация "ГРАНИТ", карьеры ГП "Укрзализныця" и другие).</p>
    <div style=" font-size: 36px; font-family: 'Oswald', sans-serif;
  color: #0C57FB; margin: 0;">Команда</div>
    <p class="pText">В штаб ТОВ "Кривбасподшипник" входит несколько отделов и служб, в которых заняты трудолюбивые и ответственные люди. Их ядром служит отдел
    продаж и служба тех.поддержки, в которых работают высококвалифицированные менеджеры и инженеры, у которых высшее техническое образование и многолетний опыт работы в данной сфере деятельности.</p>
    <div style=" font-size: larger;
    font-weight: bold; margin: 2% 0 0 0;">Работая с нами Вы получаете:</div>
    <ul style="margin: 1% 0 2% 0">
        <li>качественный товар от производителя</li>
        <li>низкие цены</li>
        <li>возможность доставки по Украине</li>
        <li>техничесую консультацию</li>
        <li>наличие продукции на складах</li>
    </ul>
    <h2 style="text-align: center; margin: 2%;text-transform: uppercase;">Мы рады что Вы выбрали именно нас!</h2>
</div>

