<div class="container">
  <h1 class="title">Кривбасподшипник</h1>
  <div class="text">Основной целью нашей деятельности является обеспечение промышленных предприятий высококачественной
    продукцией, для надёжной и безотказной работы подшипниковых узлов.
    Мы можем предоставить наиболее выгодное предложение по необходимым Вам подшипникам и обеспечить их гарантийное сопровождение.</div>
  <h1 class="title2">Мы поставляем</h1>
  <mat-grid-list class="logo" cols="7" rowHeight="120px">
  <mat-grid-tile> <img mat-card-image src="../../assets/HARP.jpg" alt="Логотип HARP"></mat-grid-tile>
  <mat-grid-tile><img mat-card-image src="../../assets/vbf.jpg" alt="Логотип VBF"></mat-grid-tile>
  <mat-grid-tile><img mat-card-image src="../../assets/svpz.png" alt="Логотип SVPZ"></mat-grid-tile>
  <mat-grid-tile ><img mat-card-image src="../../assets/hgf.jpg" alt="Логотип HGF"></mat-grid-tile>
  <mat-grid-tile ><img mat-card-image src="../../assets/epk.png" alt="Логотип EPK"></mat-grid-tile>
  <mat-grid-tile ><img mat-card-image  src="../../assets/mpz.jpg" alt="Логотип MPZ"></mat-grid-tile>
  <mat-grid-tile ><img mat-card-image style="width: 85%;" src="../../assets/cb.jpg" alt="Логотип CB"></mat-grid-tile>
</mat-grid-list>
  <mat-grid-list class="mobLogo" cols="2" rowHeight="120px">
    <mat-grid-tile> <img mat-card-image src="../../assets/HARP.jpg" alt="Логотип HARP"></mat-grid-tile>
    <mat-grid-tile><img mat-card-image src="../../assets/vbf.jpg" alt="Логотип VBF"></mat-grid-tile>
    <mat-grid-tile><img mat-card-image src="../../assets/svpz.png" alt="Логотип SVPZ"></mat-grid-tile>
    <mat-grid-tile ><img mat-card-image src="../../assets/hgf.jpg" alt="Логотип HGF"></mat-grid-tile>
    <mat-grid-tile ><img mat-card-image src="../../assets/epk.png" alt="Логотип EPK"></mat-grid-tile>
    <mat-grid-tile ><img mat-card-image style="width: 85%;" src="../../assets/cb.jpg" alt="Логотип CB"></mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list class="mob2Logo" cols="4" rowHeight="120px">
    <mat-grid-tile> <img mat-card-image src="../../assets/HARP.jpg" alt="Логотип HARP"></mat-grid-tile>
    <mat-grid-tile><img mat-card-image src="../../assets/vbf.jpg" alt="Логотип VBF"></mat-grid-tile>
    <mat-grid-tile><img mat-card-image src="../../assets/svpz.png" alt="Логотип SVPZ"></mat-grid-tile>
    <mat-grid-tile ><img mat-card-image src="../../assets/hgf.jpg" alt="Логотип HGF"></mat-grid-tile>
    <mat-grid-tile ><img mat-card-image src="../../assets/epk.png" alt="Логотип EPK"></mat-grid-tile>
    <mat-grid-tile ><img mat-card-image  src="../../assets/mpz.jpg" alt="Логотип MPZ"></mat-grid-tile>
    <mat-grid-tile ><img mat-card-image style="width: 85%;" src="../../assets/cb.jpg" alt="Логотип CB"></mat-grid-tile>
  </mat-grid-list>
  <div style="margin-top: 1%" class="text">На нашем сайте Вы можете ближе ознакомиться с ассортиментом постовляемой нами продукции и подобрать для себя именно то изделие,
    которое будет полностью отвечать Вашим требованиям. Для оперативного обеспечения заказчиков продукцией, наша
    компания имеет в своём распоряжении складские мощности в Кривом Роге.В суммарном отношении на складе хранятся более полторы тысячи наименований подшипников.
    Запас подшипников на складе позволит обеспечить в кратчайший сроки выполнения Ваших срочных и аварийных заявкок.</div>
  <h1 class="title2">Нам доверяют</h1>
  <mat-grid-list class="logo" cols="7" rowHeight="120px">
    <mat-grid-tile> <img mat-card-image src="../../assets/ip.jpg" alt="Логотип Интерпайп Украины"></mat-grid-tile>
    <mat-grid-tile><img mat-card-image style="width: 85%;" src="../../assets/zs.jpg" alt="Логотип Запорожсталь"></mat-grid-tile>
    <mat-grid-tile><img mat-card-image src="../../assets/ds.jpeg" alt="Логотип Днепрспецсталь"></mat-grid-tile>
    <mat-grid-tile ><img mat-card-image style="width: 85%;" src="../../assets/un.jpg" alt="Логотип Укрнефть"></mat-grid-tile>
    <mat-grid-tile ><img mat-card-image src="../../assets/nkmz.jpg" alt="Логотип НКМЗ"></mat-grid-tile>
    <mat-grid-tile ><img style="width: 85%;" mat-card-image src="../../assets/m.jpg" alt="Логотип Метинвестхолдинг"></mat-grid-tile>
    <mat-grid-tile ><img mat-card-image style="width: 85%;" src="../../assets/ifcem.png" alt="Логотип Иванофранковскцемент"></mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list class="mobLogo" cols="2" rowHeight="120px">
    <mat-grid-tile> <img mat-card-image src="../../assets/ip.jpg" alt="Логотип Интерпайп Украины"></mat-grid-tile>
    <mat-grid-tile><img mat-card-image style="width: 85%;" src="../../assets/zs.jpg" alt="Логотип Запорожсталь"></mat-grid-tile>
    <mat-grid-tile ><img mat-card-image style="width: 85%;" src="../../assets/un.jpg" alt="Логотип Укрнефть"></mat-grid-tile>
    <mat-grid-tile ><img mat-card-image src="../../assets/nkmz.jpg" alt="Логотип НКМЗ"></mat-grid-tile>
    <mat-grid-tile ><img style="width: 85%;" mat-card-image src="../../assets/m.jpg" alt="Логотип Метинвестхолдинг"></mat-grid-tile>
    <mat-grid-tile ><img mat-card-image src="../../assets/ifcem.png" alt="Логотип Иванофранковскцемент"></mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list class="mob2Logo" cols="4" rowHeight="120px">
    <mat-grid-tile> <img mat-card-image src="../../assets/ip.jpg" alt="Логотип Интерпайп Украины"></mat-grid-tile>
    <mat-grid-tile><img mat-card-image src="../../assets/zs.jpg" alt="Логотип Запорожсталь"></mat-grid-tile>
    <mat-grid-tile><img mat-card-image src="../../assets/ds.jpeg" alt="Логотип Днепрспецсталь"></mat-grid-tile>
    <mat-grid-tile ><img mat-card-image src="../../assets/un.jpg" alt="Логотип Укрнефть"></mat-grid-tile>
    <mat-grid-tile ><img mat-card-image src="../../assets/nkmz.jpg" alt="Логотип НКМЗ"></mat-grid-tile>
    <mat-grid-tile ><img mat-card-image src="../../assets/m.jpg" alt="Логотип Метинвестхолдинг"></mat-grid-tile>
    <mat-grid-tile ><img mat-card-image src="../../assets/ifcem.png" alt="Логотип Иванофранковскцемент"></mat-grid-tile>
  </mat-grid-list>
</div>
