<div class="container">
  <div class="bearingsPromo">
    <h1 class="title">Кривбасподшипник</h1><br>
    <p class="subtitle">
      на рынке с 2009 года</p>
  </div>
  <p class="subtitle2">Наши Партнеры</p>
  <div class="logo" >
    <img  src="../../assets/ip.jpg" alt="Логотип Интерпайп Украины">
    <img src="../../assets/nkmz.jpg" alt="Логотип НКМЗ">
    <img src="../../assets/ifcem.png" alt="Логотип Иванофранковскцемент">
    <img src="../../assets/m.jpg" alt="Логотип Метинвестхолдинг">
    <img src="../../assets/un.jpg" alt="Логотип Укрнефть">
    <img src="../../assets/zs.jpg" alt="Логотип Запорожсталь">
    <img src="../../assets/ds.jpeg" alt="Логотип Днепрспецсталь">
</div>
  <div class="text">Основной целью нашей деятельности является обеспечение промышленных предприятий высококачественной
    продукцией, для надёжной и безотказной работы подшипниковых узлов.
  </div>
</div>
<div class="container2">
  <mat-grid-list class="logoBrands" style="width:45%;" cols="2" rowHeight="160px">
    <mat-grid-tile><img src="../../assets/hgf.jpg" alt="Логотип HGF"></mat-grid-tile>
    <mat-grid-tile><img src="../../assets/fag.jpg" alt="Логотип fag"></mat-grid-tile>
    <mat-grid-tile><img src="../../assets/skf.png" alt="Логотип skf"></mat-grid-tile>
    <mat-grid-tile><img src="../../assets/svpz.png" alt="Логотип SVPZ"></mat-grid-tile>
    <mat-grid-tile><img src="../../assets/epk.png" alt="Логотип EPK"></mat-grid-tile>
    <mat-grid-tile><img src="../../assets/cb.jpg" alt="Логотип CB"></mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list class="logoBrands2" style="width:100%;" cols="3" rowHeight="115px">
    <mat-grid-tile><img src="../../assets/hgf.jpg" alt="Логотип HGF"></mat-grid-tile>
    <mat-grid-tile> <img src="../../assets/fag.jpg" alt="Логотип fag"></mat-grid-tile>
    <mat-grid-tile><img src="../../assets/skf.png" alt="Логотип skf"></mat-grid-tile>
    <mat-grid-tile><img src="../../assets/svpz.png" alt="Логотип SVPZ"></mat-grid-tile>
    <mat-grid-tile><img src="../../assets/epk.png" alt="Логотип EPK"></mat-grid-tile>
    <mat-grid-tile><img src="../../assets/cb.jpg" alt="Логотип CB"></mat-grid-tile>
  </mat-grid-list>
  <div class="text2"><p class="subtitle2" style="margin-left: 0;">Мы поставляем</p>
    <p>На нашем сайте Вы можете ближе ознакомиться с ассортиментом постовляемой нами продукции. Мы можем предоставить
      наиболее выгодное предложение по необходимым Вам подшипникам и обеспечить их гарантийное сопровождение. Для оперативного обеспечения заказчиков продукцией, наша
      компания имеет в своём распоряжении складские мощности в Кривом Роге.В суммарном отношении на складе хранятся более полторы тысячи наименований подшипников.</p>
    <button mat-flat-button class="bt"><a style="color: white;text-decoration: none;" href="../../assets/price.xls"></a></button>
  </div>
</div>
