<div class="wrapScreen">
<div class="title">Полный список постовляемого товаров</div>
<div style=" display: flex; justify-content: center; margin: 1%;font-size: larger;">
  <button class="bt" mat-raised-button><a style="color: white;text-decoration: none;" href="../../assets/price.xls"> Скачать файл</a></button>
</div>
</div>
<div class="containerMob">
  <div class="title">Полный список товаров</div>
  <div style="margin: 1%; display: flex; justify-content: center;font-size: larger;">
      <button class="bt"mat-raised-button><a style="color: white;text-decoration: none;" href="../../assets/price.xls">Скачать файл</a></button>
  </div>
</div>
<div class="wrap">
 <div class="paragraph1">
    <span class="firstTitle">Оплата товара</span><br>
    <span class="fontS">Наличная оплата</span><br>
    Товар оплачивается наличными только в национальной валюте. Для оплаты товаров наличными Вам необходимо будет подъехать к нам в офис.
    При совершении оплаты Вы получаете товарный чек. Так же оплата наличными возможна при получении товара в отделениях доставки («Нова пошта» или «Міст Експрес»).<br>
    <span class="fontS">Оплата картами Visa и MasterCard</span><br>
    Оплата совершается картами Visa и MasterCard любого банка.Вы можете осуществлять платежи через Интернет-банк, терминалы самообслуживания
    и банкоматы, в отделениях.
  </div>
  <div class="paragraph2">
    <span class="firstTitle">Доставка товара</span><br>
    <span class="fontS">Самовывоз</span><br>
    Вы можете получить свой заказ в нашем <a routerLink="/contacts">офисе</a> или прямо со склада.<br>
    <span class="fontS">Самовывоз из почтовых отделений</span><br>
    Вы можете получить свой заказ в одном из отделений транспортных компаний «Нова пошта» или «Мист Экспресс».
      Графики работы отделений и адреса Вы найдете на сайтах
    <a href="https://novaposhta.ua/ru/office" target="_blank">novaposhta.ua</a> и <a href="https://www.meest-express.com.ua/ua/karta-viddilen/" target="_blank">meest-express.com.ua.</a>
    Стоимость доставки зависит от веса, габаритных размеров товара и выбранной транспортной компании.
  </div><div class="paragraph3">
    <span class="firstTitle">Гарантия</span><br>
  Вся поставляемая нами продукция высокого качества подтверждена паспортами
  и сертификатами на территории Украины.
  Гарантийный срок на определенный товар устанавливается фирмой-производителем.</div>
</div>
<div class="bearings">
  <div class="bearingsTitle">Остались вопросы? <a routerLink="/contacts">Свяжитесь с нами!</a></div>
</div>

